
/* Apply box-sizing: border-box; to all the elements */
*  {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

/* Add CSS for clear */
.clear {
  clear: left;
}

/* Add CSS for container */
.container {
  /* Change the max-width to 1170px */
  max-width: 1170px;
  /* Change the width to 100% */
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


/* Add CSS for top-wrapper */
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("./images/luffy.jpg");
  background-size: cover;
  color: white;
  /* Change the text-align property to center */
  text-align: center;
}


/* Add CSS for <h1> tags within top-wrapper */
.top-wrapper h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}



/* Add CSS for <p> tags within top-wrapper */
.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}


/* Add CSS for btn-wrapper */
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}


/* Add CSS for <p> tags inside btn-wrapper */
.btn-wrapper p {
   margin: 10px 0;
  
}


/* Add CSS for signup */
.signup {
  background-color: #239b76;
}


/* Add CSS for facebook */
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}


/* Add CSS for twitter */
.twitter {
  background-color: #55acee;
}


/* Add CSS for btn */
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;

  /* Change the border-radius to 4px */
  border-radius: 4px;

  text-align: center;
  
}

/* Add CSS for btn on hover */
.btn:hover {
  opacity: 1;
}

/* Change fa's margin-right to 5px */
.fa {
  margin-right: 5px;
}


/* Add CSS for <header> tags */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);

  /* Change the position property to fixed, and top property to 0 */
  position: fixed;
  top: 0;
  
  /* Change the z-index property to 10 */
  z-index: 10;
}


/* Add CSS for logo */
.logo {
  width: 124px;
  margin-top: 20px;
}


/* Add CSS for header-left */
.header-left {
  float: left;
}


/* Add CSS for header-right */
.header-right {
  float: right;
  margin-right: -25px;
  
}

/* Add CSS for <a> tags inside header-right */
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

/* Add CSS for header-right on hover */
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}




/* Add CSS for lesson-wrapper */
.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;

   /* Change the text-align property to center */
  text-align: center;
}


/* Add CSS for heading */
.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}


/* Add CSS for <h2> tags inside heading */
.heading h2 {
  font-weight: normal;
}


/* Add CSS for lesson */
.lesson {
  float: left;
  width: 25%;
}

/* Add CSS for lesson-icon */
.lesson-icon {
  position: relative;
}


/* Add CSS for <p> tags inside lesson-icon */
.lesson-icon p {
  position: absolute;
  top: 40%;
  width: 100%;
  color: white;
}


/* Add CSS for txt-contents */
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

/* Add CSS for <h3> tags inside heading */
.heading h3 {
  font-weight: normal;
}

/* Add CSS for message-wrapper */
.message-wrapper {
  border-bottom : 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}


/* Add CSS for message */
.message {
  background-color: #5dca88;
  padding: 15px 40px;

  /* Change the cursor property to pointer */
  cursor: pointer;
  /* Change the box-shadow property */
  box-shadow: 0px 7px #1a7940;

}


/* Add CSS for message when it's clicked */
.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}


/* Add CSS for <img> tags inside the <footer> */
footer img {
  width: 125px;
}

/* Add CSS for <p> tags inside the <footer> */
footer p {
  color: #b3aeb5;
  font-size: 12px;
}


/* Add CSS for <footer> tags */
footer {
  padding-top: 30px;
  padding-bottom: 20px;
}